Repository jayanthkoushik/shiny-pyseed: changes, and which pre-commit hooks are due for each by the changed paths.
All: build, format, lint, mypy, test

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: detect-private-key

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.6.1
    hooks:
      - id: cspell
        name: Spell check readme
        files: "README.md"

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.13.0
    hooks:
      - id: commitlint
        name: Lint commit message
        entry: commitlint -e -s
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"
      - id: commitlint
        name: Lint commit message from file in $COMMIT_MSG_FILE
        entry: commitlint -E COMMIT_MSG_FILE -s
        stages: [manual]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: local
    hooks:
      - id: build
        name: Build dist
        language: system
        entry: poetry run scripts/build_dist.py
        files: "src/.*"
        pass_filenames: false
      - id: format
        name: Format Python files
        language: system
        entry: poetry run ruff format
        types: [python]
        exclude: "dist/pyseed.py"
      - id: lint
        name: Lint Python files
        language: system
        entry: poetry run ruff check
        types: [python]
        pass_filenames: false
        exclude: "dist/pyseed.py"
      - id: mypy
        name: Type check Python files
        entry: poetry run mypy src tests
        language: system
        types: [python]
        pass_filenames: false
        exclude: "dist/pyseed.py"
      - id: test
        name: Run unit tests
        language: system
        entry: sh -c "PYSEED_TEST_CREATE_PROJECT=1 python3 -m unittest"
        types: [python]
        exclude: "scripts/.*\\.py"
        pass_filenames: false

feat: add barebones mode for creating simple projects
  README.md
  dist/pyseed.py
  src/data/pre_commit_config_simple.yaml
  src/data/pyproject_simple.template.toml
  src/pyseed.py
  tests/test_pyseed.py
  www/theme/overrides/main.html
Due: build, format, lint, mypy, test

ci: enable github tests in ci
  .github/workflows/run-tests.yml
Due: none

Revert "ci: enable github tests in ci"
  .github/workflows/run-tests.yml
Due: none

chore: add `types-PyYAML` as a dev dependency
  poetry.lock
  pyproject.toml
Due: none

chore(release): 1.0.3
  CHANGELOG.md
Due: none

Deployed 44071af to 1.0 with MkDocs 1.5.3 and mike 2.1.0.dev0
  1.0/CHANGELOG/index.html
  1.0/index.html
  1.0/pyseed.py
  1.0/sitemap.xml
  1.0/sitemap.xml.gz
Due: format, lint, mypy, test

docs: add note about initializing project from clone
  README.md
Due: none

feat: allow specifying additional project dependencies
  README.md
  dist/pyseed.py
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

fix: fix issue preventing scripts from being made executable
  dist/pyseed.py
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

docs: show just the available toggles in the list of options
  README.md
Due: none

feat: allow disabling github support
  README.md
  dist/pyseed.py
  src/data/release_new_version.py
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

feat: add support for doctests
  .pre-commit-config.yaml
  README.md
  dist/pyseed.py
  pyproject.toml
  src/data/test_doctests.template.py
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

chore(release): 1.1.0
  CHANGELOG.md
Due: none

feat: show note about barebones mode only in non-interactive mode
  dist/pyseed.py
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

feat: show url when asking for release token
  dist/pyseed.py
  src/pyseed.py
Due: build, format, lint, mypy, test

chore(release): 1.1.1
  CHANGELOG.md
Due: none

Deployed 8ad5829 to 1.1 with MkDocs 1.5.3 and mike 2.1.0.dev0
  1.1/CHANGELOG/index.html
  1.1/pyseed.py
  1.1/sitemap.xml
  1.1/sitemap.xml.gz
Due: format, lint, mypy, test

feat: split release workflow into separate modules
  README.md
  dist/pyseed.py
  src/data/check_pr_workflow.yml
  src/data/create_github_release_workflow.yml
  src/data/deploy_project_site_workflow.yml
  src/data/publish_to_pypi_workflow.yml
  src/data/release_new_version_workflow.yml
  src/data/run_tests_workflow.template.yml
  src/pyseed.py
  tests/test_pyseed.py
Due: build, format, lint, mypy, test

perf: make site specific dependencies be added to separate group
  dist/pyseed.py
  src/data/check_pr_workflow.yml
  src/data/deploy_project_site_workflow.yml
  src/pyseed.py
Due: build, format, lint, mypy, test

feat: improve prompt for reading release token
  dist/pyseed.py
  src/pyseed.py
Due: build, format, lint, mypy, test

chore(release): 2.0.0
  CHANGELOG.md
Due: none

docs: fix list layout
  README.md
Due: none

chore(release): 2.0.1
  CHANGELOG.md
Due: none

Deployed 6ed75fb to 2.0 with MkDocs 1.5.3 and mike 2.1.0.dev0
  2.0/CHANGELOG/index.html
  2.0/index.html
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
Due: none

feat: add admonition support for mkdocs
  dist/pyseed.py
  src/data/mkdocs_config.template.yml
Due: build, test

fix: fix `update-pre-commit-hooks` workflow
  README.md
  dist/pyseed.py
  src/data/update_pre_commit_hooks_workflow.template.yml
  src/pyseed.py
Due: build, format, lint, mypy, test

chore(release): 2.0.2
  CHANGELOG.md
Due: none

Deployed 41228a5 to 2.0 with MkDocs 1.5.3 and mike 2.1.0.dev0
  2.0/CHANGELOG/index.html
  2.0/index.html
  2.0/pyseed.py
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
Due: format, lint, mypy, test
